/*========== CSS Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================
Custom CSS
==================================*/


/*======= Universal Styling =======*/

/*------Adobe Typekit Fonts-------

Liza Display Pro Regular
font-family: liza-display-new, sans-serif;
font-weight: 400;
font-style: normal;

Liza Text Pro Regular
font-family: liza-text, sans-serif;
font-weight: 400;
font-style: normal;

Liza Caps Pro Regular
font-family: liza-caps-new, sans-serif;
font-weight: 400;
font-style: normal;
-------------------------------*/

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
	height: 5em;
	padding: 0 6%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: liza-display-new, sans-serif;
	font-family: liza-text, sans-serif;
	font-family: liza-caps-new, sans-serif;
}

h2 {
	font-family: liza-text, sans-serif;
	font-size: 1em;
	color: #6057b9;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}


/*======= Menu Styling =======*/

.navleft {
	float: left;
	width: 35%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#navright {
	float: right;
	width: 40%;
	vertical-align: top;
	text-align: right;
	margin: 0;
	padding: .5em 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .938em;
}

#hamitems {
	width: 100%;
	position: sticky;
	top: 0;
}

#hamitems a {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: .625em 2%;
	color: #6057b9;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}

#hamitems a:hover {
	opacity: 65%;
	font-weight: bolder;
}

#navright label {
	display: inline-block;
	color: #010d26;
	font-size: 2em;
	padding: .28em 3% 0;
}

#hamitems {
	display: none;
}

#navright input:checked ~ #hamitems {
	display: block;
}

#hamburger {
	display: none;
}

.navleft img[alt="MT Logo"] {
	max-width: 100%;
	padding: .5em 0 0;
}


/*======= Main Styling =======*/

.homemain {
	text-align: center;
	vertical-align: top;
}

.homemain img[alt="Swimming Under Water"] {
	max-width: 100%;
}

.btns {
	text-align: center;
	margin: 0 auto;
	margin: 1em 13%;
}

.btns button {
	width: 50%;
	margin: .4em;
	padding: .4em;
	border: none;
	border-radius: .35em;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	font-weight: bold;
	color: #ffffff;
}

.btns button:first-child {
	background-color: #45b8c4;
}

.btns button:nth-child(2) {
	background-color: #0095d2;
}

.btns button:nth-child(3) {
	background-color: #6057b9;
}

.btns button:last-child {
	background-color: #abd97c;
}

.btns button:hover, button:active {
	opacity: 60%;
	font-weight: bolder;
}


/*======= Footer Styling =======*/

footer {
	height: 5em;
	text-align: center;
	margin: 1em 0;
}

.ftr a {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	color: #010d26;
	text-decoration: none;
	line-height: 165%;
	padding: 0 18%;
}

.ftr a:hover {
	color: #6057b9;
	opacity: 65%;
}

.ftr a:active {
	color: #6057b9;
	opacity: 100%;
}

.blt {
	display: none;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	color: #010d26;
	font-size: .156em;
	margin: 3em 0 0;
}


/*=================================
Services Page
==================================*/





/*=================================
About Page
==================================*/





/*=================================
Contact Page
==================================*/

#contactwrap {
	background: #ffffff url(../images/bblwater.png) no-repeat top left;
	background-size: 100%;
}

#contactwrap {
	clear: both;
	max-width: 100%;
	margin: 0;
	height: auto;
	overflow: auto;
}

#contactwrap h2 {
	color: #010d26;
	text-align: right;
	margin: 0;
	line-height: 55%;
	padding: 0 5% .2em;
}

.contactform {
	margin: 0 10% 2em;
	text-align: center;
}

.contactform label {
	font-family: 'Open Sans', sans-serif;
	font-size: .813em;
	font-weight: bold;
	text-align: right;
}

.contactname,
.contactemail,
.contactphone {
	text-align: right;
	margin-right: 16%;
}

.contactname input,
.contactemail input,
.contactphone input {
	background-color: rgba(255, 255, 255, 70%);
	text-align: left;
	width: 66%;
	margin: .45em 0;
}

.contactform input, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	text-align: left;
	background-color: rgba(255, 255, 255, 70%);
	padding: .125em 2%;
	border: .15em solid rgba(0, 0, 0, 20%);
	border-radius: 5%;
}

.contactform input:hover, textarea:hover {
	border: .13em solid #0095d2;
}

.contactinquiry {
	margin: .5em 0;
}

.contactform textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	border-radius: 1%;
	max-width: 100%;
	padding: .75em 2.5%;
}

.contactsubmit input {
	background: #ffffff;
	border: .15em solid #0095d2;
	padding: .25em 6%;
	font-size: .813em;
	font-weight: bold;
	color: #0095d2;
	letter-spacing: .08em;
}

.contactsubmit input:hover,
.contactsubmit input:active {
	background: rgba(69, 184, 196, 20%);
	border: .2em solid #45b8c4;
	text-transform: uppercase;
	font-weight: bolder;
}

.replytext {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #010d26;
	text-align: center;
	margin: 2em 8%;
	padding: .5em 0;
}

.replytext h1 {
	font-weight: bold;
}



/*=================================
Media Querries
==================================*/


/*======= Small Screens =======*/

@media only screen and (min-width: 320px) {

#navright label {
	font-size: 2.25em;
	padding: .5em 4% 0;
}


/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/



}


/*======= Small Devices =======*/

@media only screen and (min-width: 576px) {

	.btns {
		margin: 1em 13%;
	}
	
	.btns button {
		width: 45%;
		border-radius: .55em;
		margin: .4em 10%;
		padding: .6em;
	}
	
	footer p {
		font-size: .25em;
		margin: 1.75em 0 0;
	}

/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/


	
}


/*======= Medium Devices =======*/

@media only screen and (min-width: 768px) {

	#hamitems {
		padding: 2em 0 1em;
		display: flex;
		justify-content: flex-end;
	}

	#hamitems a {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 0;
		padding: .625em 4.5%;
	}

	#navright label, #hamburger {
		display: none;
	}

	header {
		height: 5em;
		padding: 0 5%;
	}

	.navleft {
		width: 25%;
	}

	#navright {
		width: 65%;
		font-size: 1.063em;
	}

	.homemain {
		position: relative;
	}

	.btns {
		margin: 0;
		width: 100%;
		display: inline-block;
		position: absolute;
		top: 99%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	.btns button {
		border: .5em solid #ffffff;
		border-radius: 1em;
		width: 23%;
		margin: 0 -.3%;
		padding: .6em;
		font-size: 1.063em;
	}

	.btns button:hover, button:active {
		opacity: 95%;
		text-transform: uppercase;
	}

	footer {
		height: 5em;
	}

	.ftr {
		padding: 2.5em 8% .25em;
		display: inline-block;
	}

	.ftr a {
		font-size: 1.063em;
		letter-spacing: .03em;
		color: #6057b9;
		font-weight: bold;
		line-height: 100%;
		padding: 0;
	}

	.blt {
		display: unset;
	}

	footer p {
		font-size: .625em;
		letter-spacing: .05em;
		color: #ffffff;
		font-weight: normal;
		background-color: #6057b9;
		margin: 0;
		padding: .75em 1%;
		text-align: right;
	}


/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/



}


/*======= Large Devices =======*/

@media only screen and (min-width: 992px) {

	header {
		height: 5em;
		padding: 0 6%;
	}

	#hamitems a {
		padding: .625em 4.75%;
	}

	#navright {
		font-size: 1.25em;
		padding: .75em 0 0;
	}

	.btns {
		top: 100%;
	}

	.btns button {
		border: .55em solid #ffffff;
		border-radius: 1.05em;
		width: 23.5%;
		padding: .7em;
		font-size: 1.188em;
	}

	footer {
		height: 6em;
	}

	.ftr {
		padding: 3.5em 12% .25em;
	}

	.ftr a {
		font-size: 1.25em;
	}

	footer p {
		font-size: .688em;
		padding: .8em 1.15%;
	}


/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/



}


/*======= Extra Lg Devices =======*/

@media only screen and (min-width: 1200px) {

	#hamitems a {
		padding: .625em 5%;
	}

	#navright {
		font-size: 1.375em;
	}

	.btns button {
		border: .6em solid #ffffff;
		border-radius: 1.05em;
		width: 23%;
		padding: .8em;
		font-size: 1.25em;
	}

	.ftr {
		padding: 4em 15% .25em;
	}

	.ftr a {
		font-size: 1.375em;
		letter-spacing: .03em;
	}

	footer p {
		font-size: .875em;
		letter-spacing: .02em;
		padding: .75em 1.25%;
	}


/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/



}