/*========== CSS Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================
Custom CSS
==================================*/


/*======= Universal Styling =======*/

/*------Adobe Typekit Fonts-------

Liza Display Pro Regular
font-family: liza-display-new, sans-serif;
font-weight: 400;
font-style: normal;

Liza Text Pro Regular
font-family: liza-text, sans-serif;
font-weight: 400;
font-style: normal;

Liza Caps Pro Regular
font-family: liza-caps-new, sans-serif;
font-weight: 400;
font-style: normal;
-------------------------------*/

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
	height: 5em;
	padding: 0 6%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: liza-display-new, sans-serif;
	font-family: liza-text, sans-serif;
	font-family: liza-caps-new, sans-serif;
}

h1 {
	font-family: liza-display-new, sans-serif;
	font-size: 2.25em;
	letter-spacing: .03em;
	text-align: right;
	color: #0095d2;
}

h2 {
	font-family: liza-text, sans-serif;
	font-size: 1.75em;
	letter-spacing: .025em;
	color: #0095d2;
	padding: .5em 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}


/*======= Menu Styling =======*/

.navleft {
	float: left;
	width: 35%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#navright {
	float: right;
	width: 40%;
	vertical-align: top;
	text-align: right;
	margin: 0;
	padding: .5em 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .938em;
}

#hamitems {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 65%);
	border-radius: 13em 0 1em 15em;
}

#hamitems a {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: .625em 2%;
	color: #6057b9;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}

#hamitems a:hover {
	opacity: 65%;
	font-weight: bolder;
}

#navright label {
	display: inline-block;
	color: #010d26;
	font-size: 2em;
	padding: .28em 3% 0;
}

#hamitems {
	display: none;
}

#navright input:checked ~ #hamitems {
	display: block;
}

#hamburger {
	display: none;
}

.navleft img[alt="MT Logo"] {
	max-width: 100%;
	padding: .5em 0 0;
}


/*======= Main Styling =======*/

.homemain {
	text-align: center;
	vertical-align: top;
}

.homemain img[alt="Swimming Under Water"] {
	max-width: 100%;
}

.btns {
	text-align: center;
	margin: 0 auto;
	margin: 1em 13%;
}

.btns button {
	width: 50%;
	margin: .4em;
	padding: .4em;
	border: none;
	border-radius: .35em;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	font-weight: bold;
	color: #ffffff;
}

.btns button:first-child {
	background-color: #45b8c4;
}

.btns button:nth-child(2) {
	background-color: #0095d2;
}

.btns button:nth-child(3) {
	background-color: #6057b9;
}

.btns button:last-child {
	background-color: #abd97c;
}

.btns button:hover, button:active {
	opacity: 60%;
	font-weight: bolder;
}


/*======= Footer Styling =======*/

footer {
	height: 5em;
	text-align: center;
	margin: 1em 0 1.5em;
}

.ftr a {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	color: #010d26;
	text-decoration: none;
	line-height: 165%;
	padding: 0 18%;
}

.ftr a:hover {
	color: #6057b9;
	opacity: 65%;
}

.ftr a:active {
	color: #6057b9;
	opacity: 100%;
}

.blt {
	display: none;
}

footer p {
	font-family: 'Open Sans', sans-serif;
	color: #010d26;
	font-size: .156em;
	margin: 3em 0 0;
}


/*=================================
Services Page
==================================*/

.svcmain {
	clear: both;
	text-align: center;
}

.svcmain h1 {
	text-align: center;
	padding: .25em 0 .35em;
}

.svcmain h2 {
	padding: .25em 15%;
}

.svcmain p {
	text-align: left;
	line-height: 185%;
	padding: .75em 10% .75em 15%;
}

img[alt="Baby Under Water"] {
	max-width: 50%;
	border-radius: .8em;
}

img[alt="Hugging Swimmers"] {
	max-width: 40%;
	border-radius: 15em;
}

img[alt="Breast Stroke Competition"] {
	max-width: 40%;
	border-radius: 15em;
}

img[alt="Girl Competes"] {
	max-width: 40%;
	border-radius: 15em;
	display: none;
}

img[alt="Competitive Butterfly"] {
	max-width: 50%;
	border-radius: .8em;
}

.svcaside ul {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	font-weight: bold;
	color: #45b8c4;
	line-height: 175%;
}

img[alt="Gradient Waves"] {
	max-width: 100%;
}

img[alt="Royal Blue Waves"] {
	max-width: 100%;
	display: none;
}


/*=================================
About Page
==================================*/

.abtmain h1 {
	clear: both;
	text-align: center;
	padding: .25em 0 .35em;
}

.abtflex{
	text-align: center;
}

.abtflex p {
	text-align: left;
	line-height: 185%;
	padding: .75em 10% .75em 15%;
}

img[alt="Girl Under Water"] {
	max-width: 40%;
	border-radius: 15em;
}

img[alt="Good Form"] {
	max-width: 40%;
	border-radius: 15em;
	display: none;
}

img[alt="Competitive Crawl"] {
	max-width: 40%;
	border-radius: 15em;
}

img[alt="Competing"] {
	max-width: 40%;
	border-radius: 15em;
}

img[alt="Green Thumb"] {
	max-width: 100%;
}

img[alt="Green Swish"] {
	max-width: 100%;
	display: none;
}


/*=================================
Contact Page
==================================*/

#contactwrap {
	clear: both;
	max-width: 100%;
	margin: 0;
	height: auto;
	overflow: auto;
	background: rgba(69, 184, 196, 70%) url(../images/bblfade.png) no-repeat top left;
	background-size: 100%;
}

.contacttext {
	padding: 3em 17% 0;
	height: .2em;
	line-height: 185%;
}

.contacttext h2 {
	font-family: liza-display-new, sans-serif;
	font-size: 1.5em;
	letter-spacing: .025em;
	color: #010d26;
	text-align: center;
	margin: 0;
	padding: 0 0 .5em;
}

.contacttext p {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}

.contactform {
	margin: 15em 10% 1em;
	text-align: center;
}

.contactform label {
	font-family: 'Open Sans', sans-serif;
	font-size: .813em;
	font-weight: bold;
	text-align: right;
}

.contactname,
.contactemail,
.contactphone {
	text-align: right;
	margin-right: 15%;
}

.contactname input,
.contactemail input,
.contactphone input {
	background-color: rgba(255, 255, 255, 70%);
	text-align: left;
	width: 66%;
	margin: .75em 0;
}

.contactform input, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	text-align: left;
	background-color: rgba(255, 255, 255, 70%);
	padding: .125em 2%;
	border: .15em solid rgba(1, 13, 38, 20%);
	border-radius: .35em;
}

.contactform input:hover, textarea:hover {
	border: .13em solid #0095d2;
}

.contactinquiry {
	margin: 1em 0;
}

.contactform textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	border-radius: 1%;
	max-width: 100%;
	padding: .55em 2.5%;
	border-radius: .5em;
}

.contactsubmit input {
	background-color: rgba(96, 87, 185, 45%);
	border: .15em solid rgba(96, 87, 185, 50%);
	padding: .25em 6%;
	font-size: .813em;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: .08em;
}

.contactsubmit input:hover,
.contactsubmit input:active {
	background: #6057b9;
	border: .2em solid #6057b9;
	text-transform: uppercase;
	font-weight: bolder;
}

.replytext {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #010d26;
	text-align: center;
	margin: 2em 8%;
	padding: .5em 0;
}

.replytext h1 {
	font-weight: bold;
}


/*=================================
Scheduler Page
==================================*/

.schedmain {
	text-align: center;
	vertical-align: top;
}

.schedmain img[alt="Scheduling App"] {
	max-width: 85%;
	margin: 1.5em 0 0;
	border: .15em solid #6057b9;
	border-radius: .5em;
}


/*=================================
Media Querries
==================================*/


/*======= Small Screens =======*/

@media only screen and (min-width: 320px) {

	#navright label {
		font-size: 2.25em;
		padding: .5em 4% 0;
	}


/*------Services Page------*/



/*-------About Page-------*/



/*------Contact Page------*/



/*-----Scheduler Page-----*/



}


/*======= Small Devices =======*/

@media only screen and (min-width: 576px) {

	.btns {
		margin: 1em 13%;
	}
	
	.btns button {
		width: 45%;
		border-radius: .55em;
		margin: .4em 10%;
		padding: .6em;
	}
	
	footer p {
		font-size: .25em;
		margin: 1.75em 0 0;
	}

/*------Services Page------*/

	.svcmain h1 {
		font-size: 2.5em;
	}

	.svcmain h2 {
		font-size: 1.75em;
	}

	.svcmain p {
		font-size: 1em;
		line-height: 190%;
		padding: .75em 15% .75em 18%;
	}


/*-------About Page-------*/

	.abtmain h1 {
		font-size: 2.5em;
	}

	.abtmain h2 {
		font-size: 1.75em;
	}

	.abtflex p {
		font-size: 1em;
		line-height: 190%;
		padding: .75em 15% .75em 18%;
	}


/*------Contact Page------*/

	.contacttext {
		padding: 5.75em 20% 0;
		height: .05em;
		line-height: 235%;
	}

	.contacttext h2 {
		font-size: 1.625em;
		letter-spacing: .035em;
	}

	.contacttext p {
		font-size: 1em;
	}

	/*-----Scheduler Page-----*/
	
	.schedmain img[alt="Scheduling App"] {
		margin: 1.85em 0 .5em;
		border: .2em solid #6057b9;
		border-radius: .7em;
	}

}


/*======= Medium Devices =======*/

@media only screen and (min-width: 768px) {

	#hamitems {
		padding: 2em 0 1em;
		display: flex;
		justify-content: flex-end;
		background-color: rgba(255, 255, 255, 0%);
		border-radius: 0;
	}

	#hamitems a {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 0;
		padding: .625em 4.5%;
	}

	#navright label, #hamburger {
		display: none;
	}

	header {
		height: 5em;
		padding: 0 5%;
	}

	.navleft {
		width: 25%;
	}

	#navright {
		width: 65%;
		font-size: 1.063em;
	}

	.homemain {
		position: relative;
	}

	.btns {
		margin: 0;
		width: 100%;
		display: inline-block;
		position: absolute;
		top: 99%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	.btns button {
		border: .5em solid #ffffff;
		border-radius: 1em;
		width: 23%;
		margin: 0 -.3%;
		padding: .6em;
		font-size: 1.063em;
	}

	.btns button:hover, button:active {
		opacity: 95%;
		text-transform: uppercase;
	}

	footer {
		height: 5em;
		margin: 1em 0 .5em;
	}

	.ftr {
		padding: 2.25em 8% .25em;
		display: inline-block;
	}

	.ftr a {
		font-size: 1.063em;
		letter-spacing: .03em;
		color: #6057b9;
		font-weight: bold;
		line-height: 100%;
		padding: 0;
	}

	.blt {
		display: unset;
	}

	footer p {
		font-size: .625em;
		letter-spacing: .05em;
		color: #ffffff;
		font-weight: normal;
		background-color: #6057b9;
		margin: .5em 0 0;
		padding: .75em 1%;
		text-align: right;
	}


/*------Services Page------*/

	.svcmain h1 {
		font-size: 2.625em;
		text-align: center;
		padding: .5em 5% .4em;
		width: 47%;
		float: right;
	}

	.svcmain h2 {
		font-size: 1.875em;
		text-align: center;
	}

	.svcflex {
		padding: 0 4%;
	}

	.svcflx p {
		line-height: 165%;
		padding: .75em 5%;
		text-align: left;
	}

	.svcwrapper {
		clear: both;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.svcflex {
		display: flex;
		text-align: right;
	}

	.sart1,	
	.sart2 {
		flex: 1;
		text-align: center;
	}

	.svcaside {
		text-align: center;
		flex: 0 0 9em;
		min-height: 50vh;
		margin: 1em 1.5% 0;
		border-radius: 1em 1em 5em 5em;
		background-color: rgba(171, 217, 124, 75%);
	}

	.svcaside h2 {
		color: #010d26;
		padding: 1.15em 10% .75em;
	}

	.svcaside ul {
		text-align: center;
		font-weight: bolder;
		text-transform: uppercase;
		line-height: 160%;
		color: #010d26;
		font-size: 1em;
		padding: .7em 0 0;
	}

	.svcaside p {
		padding-top: 1.5em;
	}

	img[alt="Baby Under Water"] {
		max-width: 65%;
		border: .15em solid #ffffff;
	}
	
	img[alt="Hugging Swimmers"] {
		max-width: 75%;
	}
	
	img[alt="Breast Stroke Competition"] {
		max-width: 60%;
	}
	
	img[alt="Competitive Butterfly"] {
		max-width: 60%;
	}
		
	img[alt="Girl Competes"] {
		max-width: 100%;
		display: unset;
	}

	.svcbtm {
		position: relative;
	}

	img[alt="Gradient Waves"] {
		display: none;
	}

	img[alt="Royal Blue Waves"] {
		max-width: 100%;
		display: unset;
	}


/*-------About Page-------*/

	.abtmain h1 {
		font-size: 2.625em;
		text-align: center;
		padding: .9em 5% 0;
		width: 47%;
		float: right;
	}

	.abtmain h2 {
		font-size: 1.875em;
		text-align: left;
	}
	
	.abtflex {
		padding: 0 10%;
	}

	.abtflex p {
		line-height: 165%;
		padding: .75em 5%;
	}

	.abtwrapper {
		clear: both;
		display: flex;
		max-height: 100vh;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.abtflex {
		display: flex;
		text-align: right;
	}

	.abt1 {
		flex: 0 0 13em;
	}

	.abt2 {
		flex: 1;
		border-top: 4.25em solid #ffffff;
	}

	.abt3 {
		flex: 1;
		border-top: 1.5em solid #ffffff;
	}

	.abt2 h2 {
		text-align: center;
	}

	.abt3 h2 {
		padding: .9em 0;
		line-height: 125%;
		text-align: center;
	}

	img[alt="Girl Under Water"] {
		max-width: 88%;
	}
	
	img[alt="Good Form"] {
		max-width: 118%;
		display: unset;
	}
	
	img[alt="Competitive Crawl"] {
		max-width: 93%;
	}
	
	img[alt="Competing"] {
		max-width: 60%;
	}

	img[alt="Green Thumb"] {
		max-width: 100%;
		display: none;
	}

	.abtbtm {
		position: relative;
	}
	
	img[alt="Green Swish"] {
		max-width: 100%;
		display: unset;
	}


/*------Contact Page------*/

	.contacttext {
		display: none;
	}

	.contactform::before {
		content: 'Please submit your information or connect by phone or email as listed below.';
		font-family: 'Open Sans', sans-serif;
		font-size: .75em;
		font-style: italic;
		text-align: center;
		padding: 0 0 0 10%;
	}


	/*-----Scheduler Page-----*/

	.schedmain {
		position: relative;
	}

	.schedmain img[alt="Scheduling App"] {
		max-width: 85%;
		margin: 1.85em 0 2.25em;
		border: .25em solid rgba(1, 13, 38, 28%);
		border-radius: .8em;
	}

}


/*======= Large Devices =======*/

@media only screen and (min-width: 992px) {

	header {
		height: 5em;
		padding: 0 6%;
	}

	#hamitems a {
		padding: .625em 4.75%;
	}

	#navright {
		font-size: 1.25em;
		padding: .75em 0 0;
	}

	.btns {
		top: 100%;
	}

	.btns button {
		border: .55em solid #ffffff;
		border-radius: 1.05em;
		width: 23.5%;
		padding: .7em;
		font-size: 1.188em;
	}

	footer {
		margin: 1em 0;
	}

	.ftr {
		padding: 2.35em 12% .25em;
	}

	.ftr a {
		font-size: 1.25em;
	}

	footer p {
		font-size: .688em;
		padding: .7em 1.15% .75em;
	}


/*------Services Page------*/

	.svcmain h1 {
		font-size: 2.75em;
	}

	.svcmain h2 {
		font-size: 2em;
	}


/*-------About Page-------*/

	.abtmain h1 {
		font-size: 2.75em;
		width: 50%;
	}

	.abt3 h2 {
		font-size: 2em;
		text-align: left;
		padding: .9em 10%;
	}


/*------Contact Page------*/



/*-----Scheduler Page-----*/

	.schedmain img[alt="Scheduling App"] {
		margin: 1.85em 0 2.4em;
		border: .28em solid rgba(1, 13, 38, 28%);
		border-radius: 1em;
	}


}


/*======= Extra Lg Devices =======*/

@media only screen and (min-width: 1200px) {

	#hamitems a {
		padding: .55em 5%;
	}

	#navright {
		font-size: 1.375em;
		padding: .45em 0 .3;
		z-index: 2;
	}

	.btns button {
		border: .6em solid #ffffff;
		border-radius: 1.05em;
		width: 23%;
		padding: .8em;
		font-size: 1.25em;
	}

	footer {
		margin: 1em 0 1.85em;
	}

	.ftr {
		padding: 2.75em 15% .25em;
	}

	.ftr a {
		font-size: 1.375em;
		letter-spacing: .03em;
	}

	footer p {
		font-size: .875em;
		letter-spacing: .02em;
		padding: .6em 1.25% .65em;
	}


/*------Services Page------*/

	.svcmain h1 {
		font-size: 2.875em;
	}

	.svcmain h2 {
		font-size: 2.125em;;
	}


/*-------About Page-------*/

	.abtmain h1 {
		font-size: 2.875em;
		width: 47%;
	}

	.abtmain h2 {
		font-size: 2.125em;;
	}


/*------Contact Page------*/



/*-----Scheduler Page-----*/

	.schedmain img[alt="Scheduling App"] {
		margin: 2em 0 2.65em;
		border: .29em solid rgba(1, 13, 38, 28%);
	}

}